<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ndu.mobile.darwinwallet"
    android:versionCode="7"
    android:versionName="2.2" >

    <uses-sdk
        android:minSdkVersion="8" />
    <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> -->
    
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash" android:required="false" />
    
    <supports-screens android:resizeable="true"
                      android:smallScreens="true" 
                      android:normalScreens="true" 
                      android:largeScreens="true" 
                      android:anyDensity="true" />
    
    
    <application
        android:theme="@android:style/Theme.Light.NoTitleBar" 
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:label="@string/app_name"
            android:name="com.ndu.mobile.darwinwallet.BillRecognizerActivity" android:screenOrientation="landscape">
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        
        <activity
            android:label="@string/settings_label"
            android:name="com.ndu.mobile.darwinwallet.SettingsActivity" android:screenOrientation="landscape">
        </activity>
        
        <activity
            android:label="@string/tips_and_tricks_label"
            android:name="com.ndu.mobile.darwinwallet.TipsnTricksActivity" android:screenOrientation="landscape">
        </activity>
    </application>

</manifest>